[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "*"
invoke = "*"
selenium = "*"
prospector = "*"
pyhamcrest = "*"
allure-behave = "*"
psycopg2-binary = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.7"
